{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}
<!-- @START signup.html -->

<div class="medium-24 columns page-title">
	<h2>{{ page.title }}</h2>
</div>

<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
	<input type="hidden" name="page" value="{{ page.name }}">

	<div class="medium-9 medium-push-14 columns right-column">
		<div class="form-pretext">
			{% if page.custom_fields.custom_form_title %}
				{{ page.custom_fields.custom_form_title }}
			{% else %}
				Join Us!
			{% endif %}
		</div>

		{% include "./user_form_wrapper.html" %}

		{% include "./progress_meter.html" %}

		<div class="submit-button">
			<button type="submit">
				{% if page.custom_fields.submit_button_text %}
					{{ page.custom_fields.submit_button_text }}
				{% else %}
					Sign Up!
				{% endif %}
			</button>          
		</div> <!-- .submit-button -->

		<div class="signup-notice">
			When you take action you will be signed up for periodic email alerts and communications from Alaska Wilderness League.
		</div> <!-- .signup-notice -->
	</div> <!-- .medium-9 -->

	<div class="medium-13 medium-offset-1 medium-pull-9 columns about-text">
		{% autoescape off %}
			<div>{% include_tmpl form.introduction_text %}</div>
		{% endautoescape %} 
	</div> <!-- .about-text -->
</form>

<!-- @END signup.html -->
{% endblock %}