{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}
<!-- @START survey.html -->
	<div class="medium-24 columns page-title">
		<h2>{{ page.title }}</h2>
	</div>

	<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
		<input type="hidden" name="page" value="{{ page.name }}">
		<input type="hidden" name="required" value="country">

		{% if page.custom_fields.wide_survey %}
			<div class="medium-24 columns survey-top">
				{% autoescape off %}
					<div>{% include_tmpl form.introduction_text %}</div>
				{% endautoescape %} 
			</div> <!-- .survey-top -->
		{% endif %}

		<div class="{% if page.custom_fields.wide_survey %}medium-24 wide-survey {% else %}medium-9 medium-push-14 {% endif %} right-column columns">
			<div class="form-pretext">
				{% if page.custom_fields.custom_form_title %}{{ page.custom_fields.custom_form_title }}{% else %}Take Our Survey!{% endif %}
			</div>

			{% if not page.custom_fields.wide_survey %}
				{% include "./user_form_wrapper.html" %}
			{% endif %}


			<div id="survey-questions" class="survey-questions">
				{% autoescape off %}
					{% if page.custom_fields.wide_survey %}
						<div class="row">
							<div class="medium-24 columns">
								{% include "./user_form_wrapper.html" %}
							</div>
						</div>
					{% endif %}

					{% for question in form.surveyquestion_set.all %}
						{% if page.custom_fields.wide_survey %}
							<div class="row">
						{% endif %}
					
						<div class="{% if page.custom_fields.wide_survey %}medium-24 columns{% endif %}{% if forloop.last %} last{% endif %}">
							<label>{{ question.question_label }}</label>
							{{ question.question_html }}
						</div>

						{% if page.custom_fields.wide_survey %}
							</div> <!-- .row -->
						{% endif %}
					{% endfor %}
				{% endautoescape %}
			</div> <!-- .survey-questions -->

			<div class="submit-button">
				<button type="submit">{% if page.custom_fields.submit_button_text %}{{ page.custom_fields.submit_button_text }}{% else %}Submit{% endif %}</button>
			</div> <!-- .submit-button -->

			{% include "./progress_meter.html" %}
		</div> <!-- .right-column .wide-survey -->

		{% if not page.custom_fields.wide_survey %}
			<div class="medium-13 medium-offset-1 medium-pull-9 columns about-text">
				{% autoescape off %}
					<div>{% include_tmpl form.introduction_text %}</div>
				{% endautoescape %} 
			</div> <!-- .about-text -->
		{% endif %}
	</form>
<!-- @END survey.html -->
{% endblock %}